.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 15px 20px;
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: 100%;
}

.navList ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navList ul li {
    display: flex;
    align-items: center;
}

.navList ul li a {
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.navList ul li a:hover {
    opacity: 0.7;
}

.navbar img {
    height: 100%;
    width: auto;
}